<configuration>


    <springProfile name="prod,dev">

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/evpn/info.log</file>
            <prudent>true</prudent>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>/var/log/evpn/info.%d{yyyy-MM-dd, Asia/Shanghai}.log</fileNamePattern>

                <!-- keep 30 days' worth of history -->
                <maxHistory>10</maxHistory>

            </rollingPolicy>
            <!-- encoders are assigned the type
                 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS, Asia/Shanghai} [%-10.10thread][%-5.5level] %msg [%logger{36}]%n</pattern>
            </encoder>
        </appender>

        <appender name="ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/evpn/access.log</file>
            <prudent>true</prudent>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>/var/log/evpn/access.%d{yyyy-MM-dd, Asia/Shanghai}.log</fileNamePattern>

                <!-- keep 30 days' worth of history -->
                <maxHistory>10</maxHistory>

            </rollingPolicy>
            <!-- encoders are assigned the type
                 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS, Asia/Shanghai} [%-10.10thread] %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="SMS" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/evpn/sms.log</file>
            <prudent>true</prudent>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>/var/log/evpn/sms.%d{yyyy-MM-dd, Asia/Shanghai}.log</fileNamePattern>

                <!-- keep 30 days' worth of history -->
                <maxHistory>5</maxHistory>

            </rollingPolicy>
            <!-- encoders are assigned the type
                 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS, Asia/Shanghai} [%-10.10thread] %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="WEIDIAN" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/evpn/weidian.log</file>
            <prudent>true</prudent>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>/var/log/evpn/weidian.%d{yyyy-MM-dd, Asia/Shanghai}.log</fileNamePattern>

                <!-- keep 30 days' worth of history -->
                <maxHistory>10</maxHistory>

            </rollingPolicy>
            <!-- encoders are assigned the type
                 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS, Asia/Shanghai} [%-10.10thread] %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="weidianCallbackLogger" level="INFO">
            <appender-ref ref="WEIDIAN"/>
        </logger>

        <logger name="accessLogger" level="INFO">
            <appender-ref ref="ACCESS_FILE"/>
        </logger>

        <logger name="me.superkoh.evpn.component.sms" level="INFO">
            <appender-ref ref="SMS"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>

    </springProfile>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS, Asia/Shanghai} [%-10.10thread][%-5.5level] %msg [%logger{36}]%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>